:root {
  --blue_secondary: #0089de;
  --main_text_black: #0f2742;
  --gray_primary: #444;
  --white_primary: #fff;
}

header {
  padding: 20px;
}
.page__content {
  min-height: unset;
}

/* You can use the basic styles from statista.com here. */

.searchApp__container {
  max-width: 600px;
  margin: 20px auto;
}
.searchApp__submitButton {
  position: absolute;
  margin: 0;
  right: 0;
  top: 0;
}
.searchApp__results {
  max-width: 600px;
  margin: 20px auto;
}

.fa {
  color: var(--main_text_black);
  cursor: pointer;
}

.fa:hover {
  color: var(--blue_secondary);
}

.circle {
  width: 40px;
  height: 40px;
  background-color: var(--white_primary);
  border-radius: 100%;
  box-shadow: 0.3px 0.3px 0.1rem var(--gray_primary);
  box-shadow: 0.3px 0.3px 0.1rem var(--gray_primary);
  -moz-box-shadow: 0.3px 0.3px 0.1rem var(--gray_primary);
  -webkit-box-shadow: 0.3px 0.3px 0.1rem var(--gray_primary);
}
